main {
  line-height: 1.5;
}

main .college-content {
  background: url("../img/about/img.png") left bottom no-repeat;
}

main .college-content::before {
  width: 80%;
  position: absolute;
  right: 20%;
  top: 0%;
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white);
}

main .college-content .college-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.4375vw 0 1.5104vw;
}

main .college-content .college-main .college-rigth {
  width: 50%;
  position: relative;
  margin-left: 50%;
}

main .college-content .college-main .college-rigth .rigth-title {
  font-size: 1.874vw;
  font-weight: 400;
  color: #1C1C1C;
}

main .college-content .college-main .college-rigth .number {
  margin: 4.3229vw 0 3.385vw;
}

main .college-content .college-main .college-rigth .number .wow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .college-content .college-main .college-rigth .number .wow li .num .number-text {
  font-size: 2.5vw;
  color: #1F81C8;
}

main .college-content .college-main .college-rigth .number .wow li .num span {
  color: #1F81C8;
}

main .college-content .college-main .college-rigth .number .wow li .txt {
  color: #8B8A8A;
  margin-top: -10px;
}

main .college-content .college-main .college-rigth .singePage p {
  margin-bottom: 1.719vw;
}

main .college-content .college-main .college-rigth .singePage p:last-child {
  margin-bottom: 4.1146vw;
}

main .college-content .college-main .college-rigth .cullist ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .college-content .college-main .college-rigth .cullist ul li .icon {
  padding: 0 10px 0 0;
}

main .college-content .college-main .college-rigth .cullist ul li .icon .iconfont {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

main .college-content .college-main .college-rigth .cullist ul li .icon .iconfont-one {
  background-image: url(../img/about/icon-1.png);
}

main .college-content .college-main .college-rigth .cullist ul li .icon .iconfont-two {
  background-image: url(../img/about/icon-2.png);
}

main .college-content .college-main .college-rigth .cullist ul li .icon .iconfont-three {
  background-image: url(../img/about/icon-3.png);
}

main .college-content .college-main .college-rigth .cullist ul li .txt {
  color: #01ce73;
}

main .mobaily {
  padding: 1.615vw 0 2.344vw;
  background: url(../img/about/bj.png);
}

main .mobaily-main .mobaily-title {
  text-align: center;
  color: #fff;
}

main .mobaily-main .mobaily-content {
  margin: 2.708vw 0;
}

main .mobaily-main .mobaily-content .mobaily-item {
  width: 30.769%;
}

main .mobaily-main .mobaily-content .mobaily-item .item-img {
  width: 173px;
  height: 173px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

main .mobaily-main .mobaily-content .mobaily-item .item-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main .mobaily-main .mobaily-content .mobaily-item .item-img:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .mobaily-main .mobaily-content .item-text {
  margin-top: 2.2395vw;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: #FFFFFF;
  padding: 1vw;
}

main .mobaily-main .mobaily-content .item-text .text-title {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

main .mobaily-main .mobaily-content .item-text .text {
  font-weight: 400;
  padding-top: 1.3021vw;
}

main .mobaily-main .mobaily-footer a {
  background: #F57C40;
  border-radius: 20px;
  text-align: center;
  width: 150px;
  color: #FFFFFF;
  padding: 12px 0;
}

main .develop {
  padding: 3.542vw 0 5.1042vw;
  background: #F8FAFA;
}

main .develop .develop-main .develop-title {
  color: #010101;
  text-align: left;
}

main .develop .develop-main .develop-content .text {
  margin: 2.292vw 0 2.7083vw;
}

main .develop .develop-main .develop-content .pc-img-show {
  margin: 0 auto;
}

main .develop .develop-main .develop-content .pc--img-hide {
  display: none;
}

main .institution {
  padding: 3.28125vw 0;
  background: url(../img/about/shezhi.png) no-repeat center;
  background-size: 100% 100%;
}

main .institution .institution-title {
  text-align: center;
  color: #fff;
}

main .institution .institution-list {
  margin-top: 4.21875vw;
}

main .institution .institution-list .institution-item {
  width: 25%;
}

main .institution .institution-list .institution-item .title {
  margin: 0 auto;
  border-radius: 30px;
  width: 57.85%;
  color: #000;
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}

main .institution .institution-list .institution-item .text-one {
  margin: 2.292vw 0 1.771vw;
  padding-bottom: 2.08vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
}

main .institution .institution-list .institution-item p {
  color: #fff;
  line-height: 1.71;
  padding: 0 30px;
}

main .splendid .splendid-title {
  margin: 31px 0 38px !important;
}

@media screen and (max-width: 992px) {
  main .institution .institution-list .institution-item {
    width: 48%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  main .main-content .college-content {
    background: #fff;
  }
  main .main-content .college-content .college-main .college-rigth {
    width: 100%;
    margin: 0 20px;
  }
  main .main-content .college-content .college-main .college-rigth .number .wow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main-content .college-content .college-main .college-rigth .number .wow li {
    width: 50%;
    line-height: 1.9;
    text-align: center;
    padding: 15px 0px;
    border: 1px solid #eee;
    position: relative;
  }
  main .mobaily-main .mobaily-content .item-text {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  main .mobaily {
    margin-top: 15px;
  }
  main .main-content .content .content-main {
    background-color: transparent;
    padding: 0;
  }
  main .main-content .mobaily .mobaily-main .mobaily-content .mobaily-item {
    width: 100%;
    padding-top: 10px;
  }
  main .main-content .splendid .splendid-main {
    padding: 20px;
  }
  main .main-content .splendid .splendid-main .splendid-title {
    padding: 10px 0 15px 0;
    color: #000;
    text-align: left;
    font-weight: 500;
    font-size: 30px;
  }
  main .main-content .splendid .splendid-main .splendid-list .splendid-item img {
    width: 61%;
    margin: 0 auto;
  }
  main .institution .institution-list .institution-item {
    width: 100%;
    margin-bottom: 20px;
  }
  main .institution .institution-list .institution-item .title {
    padding: 5px 0;
  }
  main .institution .institution-list .institution-item .text-one {
    padding: 0 !important;
  }
  main .institution .institution-list .institution-item p {
    padding: 0 !important;
  }
}

@media screen and (min-width: 1920px) {
  main .main-content .college-content .college-main {
    padding: 66px 0 29px;
  }
  main .main-content .college-content .college-main .college-rigth .number {
    margin: 83px 0 65px;
  }
  main .main-content .college-content .college-main .college-rigth .singePage p {
    margin-bottom: 33px;
  }
  main .main-content .college-content .college-main .college-rigth .singePage p:last-child {
    margin-bottom: 79;
  }
  main .mobaily {
    padding: 31px 0 45px;
  }
  main .mobaily .mobaily-content {
    margin: 55px 0;
  }
  main .mobaily .mobaily-content .item-text {
    margin-top: 43px;
    padding: 20px 23px;
  }
  main .mobaily .mobaily-content .item-text .text {
    padding-top: 25px;
  }
  main .develop {
    padding: 68px 0 98px;
  }
  main .develop .develop-main .develop-content .text {
    margin: 44px 0 52px;
  }
  main .institution {
    padding: 63px 0;
  }
  main .institution .institution-list {
    margin-top: 81px;
  }
  main .institution .institution-list .institution-item .text-one {
    margin: 44px 0 34px;
    padding-bottom: 40px;
  }
}
