main {
    background-color: rgba(175, 175, 175, 0.22);
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    // letter-spacing: 3px;

    font-family: Microsoft YaHei;

    // padding-bottom: 20px;

    .top-nav {
        padding-top: 8px;
        margin: 0px 0 16px;

        img {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: #98989A;
            font-size: 14px;
            margin-right: 8px;
        }

        span {
            color: #171717;
        }
    }

    .main-content {

        .content {
            .content-main {
                width: 70%;
                margin: 0 auto;
                padding: 0 0 32px 0;

                .content-title {
                    color: #FFFFFF;
                    text-align: center;
                    font-weight: 600;
                    // margin-bottom: 30px
                    font-size: 36px;
                    padding: 30px 0 30px 0;
                }

            }
        }

        .college-content {
            background-size: cover;

            position: relative;

            .college-main {
                width: 100%;
                display: flex;

                .college-left {
                    position: relative;
                    width: 50%;
                    background: url(../img/about/img.png) left bottom no-repeat;

                    span {
                        position: absolute;
                        font-size: 1.5625vw;
                        font-style: italic;
                        color: #646565;
                        top: 10.156vw;
                        left: 16.04vw;
                        letter-spacing: 10px;
                    }
                }

                .college-rigth {
                    width: 50%;
                    padding: 0 15% 20px 10px;

                    .rigth-title {
                        font-size: 1.874vw;
                        font-weight: 400;
                        color: #1C1C1C;
                        padding: 3.1vw 0;

                    }

                    .number {

                        .wow {
                            display: flex;
                            justify-content: space-between;

                            li {
                                .num {
                                    .number-text {
                                        font-size: 2.5vw;
                                        color: #1F81C8;

                                    }

                                    span {
                                        color: #1F81C8;
                                    }
                                }

                                .txt {
                                    color: #8B8A8A;
                                    margin-top: -10px;
                                }
                            }

                        }


                    }

                    .singePage {
                        padding: 65px 0;

                        p {
                            padding: 15px 0;
                        }
                    }

                    .cullist {
                        ul {
                            li {
                                display: flex;

                                .icon {
                                    padding: 0 10px 0 0;

                                    .iconfont {
                                        display: inline-block;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        width: 20px;
                                        height: 20px;
                                    }

                                    .iconfont-one {
                                        background-image: url(../img/about/icon-1.png);
                                    }

                                    .iconfont-two {
                                        background-image: url(../img/about/icon-2.png);

                                    }

                                    .iconfont-three {
                                        background-image: url(../img/about/icon-3.png);

                                    }


                                }

                                .txt {
                                    color: rgba(1, 206, 115, 1)
                                }
                            }
                        }
                    }
                }
            }
        }


        .mobaily {
            background: url(../img/about/bj.png);

            .mobaily-main {

                .mobaily-content {
                    padding: 20px 0 20px 0;

                    display: flex;
                    justify-content: space-between;

                    .mobaily-item {
                        width: calc(33% - 30px);

                        .item-img {
                            width: 173px;
                            height: 173px;
                            margin: 0 auto;

                            img {
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                            }

                            img:hover {
                                transform: scale(1.2);
                            }
                        }



                        .item-text {
                            margin-top: 40px;
                            height: 60%;
                            overflow: hidden;
                            // height: calc( 300 * (100vw / 1920) );
                            background-color: rgba(0, 0, 0, 0.12);
                            border-radius: 5px;
                            color: #FFFFFF;
                            padding: 13px 15px 13px 15px;

                            .text-title {
                                font-weight: 600;
                                text-align: center;
                                font-size: 16px;
                            }

                            .text-hr {
                                width: 90%;
                                background-color: rgba(255, 255, 255, 0.3);
                            }

                            .text {
                                font-weight: 400;
                                padding: 20px 5% 20px 5%;
                            }
                        }
                    }

                }

                .mobaily-footer {
                    display: flex;
                    justify-content: center;
                    padding: 60px 0 10px 0;

                    p {
                        background: #F57C40;
                        border-radius: 20px;
                        text-align: center;
                        line-height: 40px;
                        width: 150px;
                        color: #FFFFFF;
                        height: 40px;
                        cursor: pointer;
                    }
                }
            }
        }


        .develop {

            .develop-main {
                .develop-title {
                    color: #010101;
                    text-align: left;
                    font-weight: 500;
                    padding: 40px 0 40px 0;
                }

                .develop-content {

                    .text {
                        font-size: 16px;
                    }

                    .img {
                        display: flex;
                        justify-content: center;
                        padding: 50px;

                    }
                }
            }

        }

        .institution {
            background-color: #1F81C8;

            .institution-main {
                // background:url(../img/about/);

                .institution-list {
                    display: flex;

                    .institution-item {
                        width: 25%;

                        p {
                            color: #FFFFFF;
                            padding: 10px 20px 20px 20px;
                        }

                        .title {
                            display: flex;
                            justify-content: center;
                            padding: 20px 0 30px 0;

                            span {
                                border-radius: 30px;
                                width: 55%;
                                height: 100%;
                                background-color: white;
                                text-align: center;
                                font-weight: 600;
                                height: 30px;
                                line-height: 30px;
                                font-size: 15px;
                            }
                        }


                        // .text-one{
                        //     border-bottom: 1px #FFFFFF solid;
                        // }


                    }

                }
            }
        }

        .splendid {
            .splendid-main {
                .splendid-title {
                    color: #010101;
                    text-align: left;
                    font-weight: 500;
                    padding: 40px 0 40px 0;
                }

                .splendid-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 20px;

                    .splendid-item {
                        display: flex;
                        flex-direction: column;

                        img {
                            width: 100%;
                            // height: 100%;
                            cursor: pointer;
                        }

                        img:hover {
                            transform: scale(.9);
                        }

                        p {
                            background: #dbd9d9;
                            border-radius: 0px 0px 4px 4px;
                            padding: 10px;
                            flex: 1;
                        }

                    }
                }
            }
        }

    }

}


@media screen and (max-width:1746px) {
    main {
        .main-content {
            .college-content {
                .college-main {
                    .college-rigth {
                        padding: 0 11% 20px 10px;

                        .singePage {
                            padding: 45px 0;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width:1098px) {
    main {
        .main-content {
            .institution {
                .institution-main {
                    .institution-list {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px;

                        .institution-item {
                            width: 100%;

                            p {
                                color: #FFFFFF;
                                padding: 10px 20px 20px 20px;
                            }

                            .title {
                                display: flex;
                                justify-content: center;
                                padding: 20px 0 30px 0;

                                span {
                                    border-radius: 35px;
                                    height: 36px;
                                    line-height: 36px;
                                }
                            }
                        }

                    }
                }
            }

            .splendid {
                .splendid-main {
                    .splendid-list {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }

        }
    }

}


@media screen and (max-width: 920px) {
    main {
        font-size: 16px;

        .main-content {
            .content {

                .content-main {
                    padding: 20px;

                    width: 100%;
                    // background-color: #FFFFFF;

                    .content-title {
                        color: #FFFFFF;
                        text-align: center;
                        font-weight: 600;
                        // margin-bottom: 30px
                        font-size: 30px;
                        padding: 25px 0 25px 0;
                    }

                }
            }

            .college-content {
                .college-main {

                    .college-left {
                        display: none;
                    }

                    .college-rigth {
                        width: 100%;
                        padding: 0 20px;

                        .rigth-title {
                            font-size: 30px;
                            font-weight: 400;
                            color: #1C1C1C;
                            padding: 15px 0 15px 0;
                        }

                        .number {
                            .wow {
                                li {
                                    width: 25%;
                                    text-align: center;

                                    .num {
                                        .number-text {
                                            font-size: 2.5vw;
                                            color: #1F81C8;
                                        }

                                        span {
                                            color: #1F81C8;
                                        }
                                    }

                                    .txt {
                                        margin-top: 0;
                                    }
                                }

                                :nth-child(1),
                                :nth-child(2),
                                :nth-child(3) {
                                    border-right: 0;
                                }
                            }
                        }

                        .singePage {
                            padding: 30px 0;

                            p {
                                padding: 15px 0;
                            }
                        }
                    }
                }
            }


            .mobaily {
                .mobaily-main {

                    .mobaily-content {
                        padding: 20px 0 20px 0;
                        flex-wrap: wrap;

                        .mobaily-item {
                            width: calc(50% - 30px);

                            padding-top: 30px;
                        }
                    }
                }
            }


            .develop {

                .develop-main {
                    .develop-title {
                        color: #010101;
                        text-align: left;
                        font-weight: 500;
                        padding: 40px 0 40px 0;
                    }

                    .develop-content {

                        .text {
                            font-size: 16px;
                        }

                        .img {
                            display: flex;
                            justify-content: center;
                            padding: 50px;

                        }
                    }
                }

            }

            .institution {
                background-color: #1F81C8;

                .institution-main {
                    .institution-list {
                        display: flex;
                        flex-wrap: wrap;

                        .institution-item {
                            width: calc(50% - 20px);

                            p {
                                color: #FFFFFF;
                                padding: 10px 20px 20px 20px;
                            }

                            .title {
                                display: flex;
                                justify-content: center;
                                padding: 20px 0 30px 0;

                                span {
                                    border-radius: 30px;
                                    width: 55%;
                                    height: 100%;
                                    background-color: #FFFFFF;
                                    text-align: center;
                                    font-weight: 600;
                                    height: 30px;
                                    line-height: 30px;
                                    font-size: 15px;
                                }
                            }

                            // .text-one{
                            //     border-bottom: 1px #FFFFFF solid;
                            // }


                        }

                    }
                }
            }

            .splendid {
                .splendid-main {
                    .splendid-list {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }

        }

    }
}

@media screen and (max-width: 580px) {

    main {
        .main-content {
            .content {
                .content-main {
                    background-color: transparent;
                    padding: 0;
                }
            }

            .college-content {
                .college-main {
                    .college-rigth {
                        .number {
                            .wow {
                                flex-wrap: wrap;

                                li {
                                    width: 50%;
                                    border: none;
                                    padding: 5px 0 5px 0;

                                    .num {
                                        .number-text {
                                            font-size: 18px;
                                            color: #1F81C8;
                                        }

                                        span {
                                            color: #1F81C8;
                                        }
                                    }

                                    .txt {
                                        margin-top: 0;
                                    }
                                }

                            }

                        }

                        .singePage {
                            padding: 20px 0;

                            p {
                                padding: 15px 0;
                            }
                        }

                        .cullist {
                            ul {
                                li {
                                    display: flex;

                                    .icon {
                                        padding: 0 10px 0 0;

                                        .iconfont {
                                            display: inline-block;
                                            background-size: cover;
                                            background-repeat: no-repeat;
                                            width: 20px;
                                            height: 20px;
                                        }

                                    }

                                    .txt {
                                        color: rgba(1, 206, 115, 1)
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .splendid {
                .splendid-main {
                    .splendid-list {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }

            .mobaily {
                margin-top: 20px;

                .mobaily-main {
                    padding: 20px;

                    .mobaily-title {
                        padding: 10px;
                    }

                    .mobaily-content {
                        padding: 0;
                        display: flex;
                        flex-direction: column;

                        .mobaily-item {
                            width: 100%;
                            padding-top: 10px;


                            .item-text {
                                margin-top: 10px;
                                height: 60%;

                            }


                        }

                    }

                    .mobaily-footer {

                        padding: 53px 0px 10px 0;
                    }
                }
            }

            .develop {
                .develop-main {
                    padding: 20px;

                    .develop-title {
                        padding: 10px 0 10px 0;
                    }
                }

            }

            .institution {
                .institution-main {
                    .institution-list {
                        display: block;

                        .institution-item {
                            width: calc(100%);

                            .title {

                                span {
                                    font-size: 16px;

                                    width: 44%;
                                }
                            }
                        }

                    }
                }
            }

            .splendid {
                .splendid-main {
                    padding: 20px;

                    .splendid-title {
                        padding: 10px 0 15px 0;
                        color: #000;
                        text-align: left;
                        font-weight: 500;
                        font-size: 30px;
                    }

                    .splendid-list {
                        grid-template-columns: repeat(1, 1fr);

                        .splendid-item {

                            img {
                                width: 61%;
                                margin: 0 auto;
                            }

                        }
                    }
                }
            }

        }
    }

}