main {
    line-height: 1.5;

    .top-nav {
        display: flex;
        align-items: center;
    }

    .top-bj {
        height: calc(100vh - 73px);
        background-image: url(../img/apply/xingkong.jpg);
        display: flex;
        flex-direction: column;
        background-color: #041C4C;
        background-size: content;
        background-repeat: no-repeat;

        .top-name {
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            gap: 8px;

            .top-title-name {
                font-weight: bold;
                font-size: 26px;
                letter-spacing: 4px;
                display: inline-block;
            }

            .top-title-des {
                font-size: 16px;
                letter-spacing: 2px;
                display: inline-block;
            }
        }

        #parentContainer {
            position: relative;
            flex: 1;

            #cas {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                z-index: 0;
            }



            // 我的应用
            .app-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                z-index: 0;

                .app-content {
                    position: absolute;
                    display: inline-flex;
                    gap: 10px;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: center;
                    color: cyan;
                    font-weight: bold;
                    font-size: 14px;

                    &:hover {
                        .app-name {
                            color: #f5bc40;
                        }

                        .app-doi {
                            border-color: #f5bc40;
                            background-color: #f5bc40;
                            color: #f5bc40;
                        }
                    }

                    .app-name {
                        cursor: pointer;
                        transition: 0.35s;
                    }

                    .app-doi {
                        width: 20px;
                        height: 20px;
                        background-color: cyan;
                        border-radius: 50%;
                        background-clip: content-box;
                        padding: 3px;
                        border: 1px solid cyan;
                        animation: daxiao1 infinite;
                        animation-fill-mode: both;
                        animation-timing-function: ease-out;
                        animation-duration: 2s;
                        cursor: pointer;
                        transition: 0.3;
                    }

                    @keyframes daxiao1 {
                        0% {
                            box-shadow: 0 0 1px 0 inset, 0 0 10px 0 inset, 0 0 1px 0, 0 0 2px 0, 0 0 3px 0, 0 0 30px 0, 0 0 40px 0;
                        }

                        50% {
                            box-shadow: 0 0 0px 0 inset, 0 0 2px 0 inset, 0 0 1px 0, 0 0 0px 0, 0 0 0px 0, 0 0 0px 0, 0 0 2px 0;
                        }

                        100% {
                            box-shadow: 0 0 1px 0 inset, 0 0 10px 0 inset, 0 0 1px 0, 0 0 2px 0, 0 0 3px 0, 0 0 30px 0, 0 0 40px 0;
                        }
                    }
                }

                .app-content:nth-child(1) {
                    left: 10%;
                    top: 20%;
                }

                .app-content:nth-child(2) {
                    left: 22%;
                    top: 24%;
                }

                .app-content:nth-child(3) {
                    left: 75%;
                    top: 63%;
                }

                .app-content:nth-child(4) {
                    left: 40%;
                    top: 40%;
                }

                .app-content:nth-child(5) {
                    left: 80%;
                    top: 30%;
                }

                .app-content:nth-child(6) {
                    left: 56%;
                    top: 66%;
                }

                .app-content:nth-child(7) {
                    left: 13%;
                    top: 65%;
                }

                .app-content:nth-child(8) {
                    left: 60%;
                    top: 35%;
                }

                .app-content:nth-child(9) {
                    left: 35%;
                    top: 3%;
                }

                .app-content:nth-child(10) {
                    left: 28%;
                    top: 44%;
                }

                .app-content:nth-child(11) {
                    left: 58%;
                    top: 10%;
                }
            }

        }

    }
.content-main{
    padding: 2.292vw;
}
    .application-content {
        margin-top: 2.396vw;

        .application-item {
            width: 48.154%;

            .application-item-title {
                padding: 0.9375vw 0;
                background: linear-gradient(83deg, #0065C0 0%, #3A91D8 100%);
                color: #FFFFFF;
                text-align: center;

                h3 {
                    font-weight: 200;
                    line-height: 1;
                }
            }

            .list {
                background: #F8FAFA;
                border: 1px solid #9FA0A1;
                font-size: 0.9375vw;
                font-weight: 400;
                color: #090909;
                padding: 1.302vw 2.135vw;


                .list-item {
                    align-items: flex-start;
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .item-last {
                        flex: 1;
                    }

                    .application-icon {
                        margin-right: 16px;
                    }
                }
            }

        }
    }

    .application-title {
        line-height: 1;
    }

    // 办学条件优渥
    .school {
        background: #ecf3f3;

        .school-main {
            padding: 2.29vw 0;

            .school-title {
                color: #0166C0;
                text-align: center;
            }

            .school-list {
                margin-top: 2.292vw;

                .school-item {
                    width: 32.692308%;
                    margin-bottom: 21px;
                    position: relative;

                    .school-img {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            transition: transform 0.3s ease-in-out;
                        }

                        &:hover {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .school-text {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        color: #FFFFFF;
                        background: rgba(7, 20, 34, .7);
                        text-align: left;
                        padding: 15px 17px;
                        line-height: 1;
                    }

                }
            }
        }
    }

    .financially {
        margin-top: 22px;
        padding: 2.292vw 0 4px;
        background: url(../img/apply/financially-bj.png) no-repeat;
        background-size: 100% 100%;

        .financially-title {
            text-align: center;
            color: #fff;
        }

        .financially-main {

            .financially-item {
                padding-top: 2.292vw;

                li {
                    width: 22.769231%;
                    margin-bottom: 2.0833vw;
                    padding: 1.401vw 1.66vw;
                    background-color: rgba(9, 9, 9, 0.5);
                    border-radius: 5px;
                    color: #FFFFFF;

                    padding: 12px 15px 23px 15px;

                    .financially-title {
                        margin-bottom: 1.42vw;
                        padding-bottom: 13px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }


    }

    .growUp {
        padding-top: 2.292vw;

        .growUp-title {
            text-align: center;
        }

        .growUp-item {
            margin-top: 2.292vw;

            li {
                width: 32.307692%;
                border: 1px solid rgba(112, 112, 112, 0.71);
                border-radius: 5px;

                .text-desc {
                    margin: 1.4062vw 0.9375vw;
                    align-items: flex-start;
                }

                .zhengfangxing {
                    display: inline-block;
                    margin-top: 5px;
                    width: 12px;
                    height: 12px;
                    background: #090909;
                }

                .wenzi {

                    max-width: 350px;
                    width: 100%;
                    margin-left: 10px;

                    .title {
                        margin-bottom: 0.9375vw;
                    }
                }
            }
        }
    }

    // 报考咨询方式
    .consult {
        padding: 2.292vw 0 4.583vw;

        .consult-title {
            text-align: center;
            color: #0266C1;
            line-height: 1;
        }

        .consult-mian-title {
            margin: 2.4479vw 0;
            text-indent: 2em;

        }

        .main-item {
            color: #FFFFFF;

            .main-content {
                width: 32.307692%;
                background: linear-gradient(45deg, #0065C1 0%, #3B92D7 100%);
                border-radius: 5px;
                padding: 1.667vw 2.135vw;

                .main-title {
                    text-align: center;
                    line-height: 0.9334;
                }

                .main-hr {
                    margin: 18px 0;
                    background-color: rgba(255, 255, 255, 0.25)
                }
            }

            .main-lianxi {
                .main-content-list {
                    ul {

                        li {
                            display: flex;
                            margin-bottom: 2.083vw;
                            align-items: center;

                            &:last-child {
                                margin-bottom: 1.074vw;
                            }

                            .list-text {

                                margin-left: 1.458vw;

                            }
                        }
                    }
                }
            }

            .main-map {
                .main-map-conent {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    .addrens {
                        margin: 1.25vw 0;
                        line-height: 2;

                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }

                    p {
                        text-align: center;
                    }



                }

            }
        }

    }



}



@media screen and (max-width:768px) {
    main {
        .application-title{
            margin-bottom: 20px;
        }
        .application-content {
            flex-direction: column;

            .application-item {
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .school {
            .school-main {
                .school-list {
                    .school-item {
                        width: 48%;
                    }

                }
            }
        }

        .financially {


            .financially-main {

                .financially-item {
                    li {
                        width: 30.33%;


                        .financially-title {}
                    }
                }
            }
        }


    }
}

@media screen and (max-width:576px) {
    main {
        .content-main {
            padding: 20px 0;
        }

        .school {
            .school-main {
                .school-list {
                    .school-item {
                        width: 100%;
                    }

                }
            }
        }

        .top-name {
            .top-title-name {
                font-size: 22px !important;
            }
        }

        .financially {


            .financially-main {

                .financially-item {
                    li {
                        width: 48%;


                        .financially-title {}
                    }
                }
            }
        }

        .growUp {
            .growUp-item {
                flex-direction: column;

                li {
                    width: 100%;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }

                    .text-desc {
                        margin: 2.4062vw 1.9375vw;
                    }
                }
            }
        }

        .consult {
            .main-item {
                flex-direction: column;

                .main-lianxi {
                    .main-content-list {
                        ul {
                            li {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }

                .main-content {
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 26px 12px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:1920px) {
    main {
        .content-main {
            padding: 44px 0;
        }

        .application-content {
            margin-top: 44px;

            .application-item {
                .application-item-title {
                    padding: 18px 0;
                }

                .list {
                    padding: 25px 41px;
                }
            }
        }

        .school {
            .school-main {
                padding: 44px 0;

                .school-list {
                    margin-top: 44px;
                }
            }
        }

        .financially {
            padding: 44px 0 4px;

            .financially-main {

                .financially-item {
                    padding-top: 44px;

                    li {
                        margin-bottom: 40px;
                        padding: 27px 32px;

                        .financially-title {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .growUp {
            padding-top: 44px;
        }

        .growUp-item {
            margin-top: 44px;

            li {
                width: 32.307692%;

                .text-desc {
                    margin: 27px 18px;
                }

                .wenzi {
                    .title {
                        color: #000;
                        margin-bottom: 0.9375vw;
                    }
                }
            }
        }

        .consult {
            padding: 44px 0 88px;

            .consult-mian-title {
                margin: 47px 0;

            }

            .main-item {

                .main-content {
                    padding: 32px 41px;
                }

                .main-lianxi {
                    .main-content-list {
                        ul {
                            li {
                                margin-bottom: 40px;

                                &:last-child {
                                    margin-bottom: 21px;
                                }

                                .list-text {
                                    margin-left: 28px;
                                }
                            }
                        }
                    }
                }

                .main-map {
                    .main-map-conent {
                        .addrens {
                            margin: 26.01px 0;
                        }

                        img {
                            height: 232px;
                        }
                    }
                }
            }
        }
    }
}