main {
    // background-color: #fafafa;
    line-height: 1.5;
    padding-bottom: 4.565vw;

    .top-bj {
        img {
            width: 100%;
        }
    }

    // 报考方式可选
    .content-main {
        padding: 2.9167vw 0 1.771vw;

        .content-title {
            color: #0166C0;
            text-align: center;
        }

    }


    .application-content {
        margin-top: 2.396vw;

        .application-item {
            width: 48.154%;

            .application-item-title {
                padding: 1.146vw 0;
                background: linear-gradient(83deg, #0065C0 0%, #3A91D8 100%);
                color: #FFFFFF;

                text-align: center;

                h3 {
                    font-weight: 200;
                    line-height: 1;
                }
            }

            .list {
                background: #F8FAFA;
                border: 1px solid #9FA0A1;
                font-size: 0.9375vw;
                font-weight: 400;
                color: #090909;
                padding: 1.771vw 2.135vw;


                .list-item {
                    align-items: flex-start;
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .item-last {
                        flex: 1;
                    }

                    .application-icon {
                        margin-right: 16px;
                    }
                }
            }

        }
    }

    // 办学条件优渥
    .school {
        background: #ecf3f3;

        .school-main {
            padding: 2.29vw 0;

            .school-title {
                color: #0166C0;
                text-align: center;
            }

            .school-list {
                margin-top: 3.125vw;

                .school-item {
                    width: 32.692308%;
                    margin-bottom: 21px;
                    position: relative;

                    .school-img {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            transition: transform 0.3s ease-in-out;
                        }

                        &:hover {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .school-text {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        color: #FFFFFF;
                        background: rgba(7, 20, 34, .7);
                        text-align: left;
                        padding: 15px 17px;
                        line-height: 1;
                    }

                }
            }
        }
    }

    .financially {
        margin-top: 22px;
        padding: 3.021vw 0;
        background: url(../img/apply/financially-bj.png) no-repeat;
        background-size: 100% 100%;

        .financially-title {
            text-align: center;
            color: #fff;
        }

        .financially-main {

            .financially-item {
                padding-top: 4.010vw;

                li {
                    width: 22.769231%;
                    margin-bottom: 2.0833vw;
                    padding: 1.401vw 1.66vw;
                    background-color: rgba(9, 9, 9, 0.5);
                    border-radius: 5px;
                    color: #FFFFFF;

                    padding: 12px 15px 23px 15px;
                }
            }
        }


    }

    .growUp {
        .growUp-main {
            .growUp-item {
                display: flex;
                justify-content: space-between;

                .item-list {
                    position: relative;

                    width: 32.41%;
                    background: #FFFFFF;
                    border: 1px solid #707070;
                    font-optical-sizing: 0.71;
                    border-radius: 5px;
                    height: 21.875;

                    ul {

                        padding: 1vw 2vw 29px 3vw;

                        li {
                            position: relative;
                            height: 10vw;

                            .item-title {
                                font-size: 0.9375vw;
                                font-weight: 500;
                                padding: 4px 0 4px 0;
                            }

                            .item-text {
                                font-size: 0.833vw;
                                line-height: 1.46vw;
                            }
                        }

                        li::before {
                            position: absolute;
                            content: "";
                            display: block;
                            width: 10px;
                            height: 10px;
                            background: #000000;
                            /* margin: 0 auto; */
                            left: -25px;
                            top: 7px;
                        }
                    }


                }

                .item-befter-one::before,
                .item-befter-two::before,
                .item-befter-three::before {
                    font-size: 2.5vw;
                    position: absolute;
                    font-weight: 500;
                    top: 10%;
                    left: 50%;
                    transform: translate(-50%, -40%);
                    color: #FFFFFF;
                }

                .item-befter-one::before {
                    content: "深造";
                }

                .item-befter-two::before {
                    content: "就业";
                }

                .item-befter-three::before {
                    content: "出国";
                }

                .active {
                    display: none;
                }

            }
        }
    }


    .consult {

        .consult-main {

            .consult-title {
                padding: 0;
            }

            .consult-mian-title {
                text-indent: 30px;
                /* 设置文本缩进为20像素 */
                font-size: 0.833vw;
                margin: 2.604vw auto;
            }

            .main-item {
                display: flex;
                justify-content: space-between;
                color: #FFFFFF;
                flex-wrap: wrap;

                .main-content {
                    width: calc(33% - 10px);
                    background: linear-gradient(45deg, #0065C1 0%, #3B92D7 100%);
                    border-radius: 5px;
                    padding: 19px 20px 19px 20px;

                    .main-title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5625vw;
                    }

                    .main-hr {

                        background-color: rgba(255, 255, 255, 0.25)
                    }

                    .main-content-list {}
                }

                .main-lianxi {
                    .main-content-list {
                        ul {
                            // font-size: 0.833vw;
                            padding: 19px 20px 0 20px;

                            li {
                                display: flex;
                                /* margin-bottom: 2.083vw; */
                                padding: 10px 0 10px 0;

                                .list-img {
                                    display: inline-block;

                                    img {
                                        width: 4.635vw;
                                    }
                                }


                                .list-text {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: end;
                                    padding: 0px 0 10px 13px;
                                    width: calc;
                                    font-size: 12px;
                                    width: calc(75%);
                                    letter-spacing: .1vw;

                                    p {
                                        padding-top: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                .main-map {
                    .main-map-conent {
                        padding: 1.875vw 1.979vw 2.344vw 2.135vw;

                        p {
                            text-align: center;
                            font-size: 12px;
                        }

                        .map-text-one {
                            font-size: 12px;
                            padding: 5px 0 20px 0;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            padding: 20px 0 20px 0;
                        }

                    }

                }
            }
        }
    }



}



@media screen and (max-width:768px) {
    main {
        .application-content {
            flex-direction: column;

            .application-item {
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .school {
            .school-main {
                .school-list {
                    .school-item {
                        width: 48%;
                    }

                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    main {
        .school {
            .school-main {
                .school-list {
                    .school-item {
                        width: 100%;
                    }

                }
            }
        }
    }
}


@media screen and (min-width:1920px) {
    main {
        .content-main {
            padding: 56px 0 34px;
        }

        .application-content {
            margin-top: 46px;

            .application-item {
                .application-item-title {
                    padding: 22px 0;
                }

                .list {
                    padding: 34px 41px;
                }
            }
        }

        .school {
            .school-main {
                padding: 44px 0 57px;

                .school-list {
                    margin-top: 60px;
                }
            }
        }

        .financially {
            padding: 58px 0 30px;

            .financially-main {

                .financially-item {
                    padding-top: 77px;

                    li {
                        margin-bottom: 40px;
                        padding: 27px 32px;
                    }
                }
            }
        }
    }
}