main .total-info {
  margin: 30px 0;
  padding-bottom: 30px;
  background-color: #F8FAFA;
}

main .total-info .line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #fff;
}

main .learn-more {
  margin-top: 20px;
}

main .tabNav {
  position: relative;
}

main .tabNav li {
  width: 10.461538%;
  text-align: center;
  font-size: 16px;
  color: #000;
  position: relative;
  cursor: pointer;
  padding: 20px 0;
}

main .tabNav li.current {
  background-color: #0166C1;
  color: #fff;
}

main .consult-tabNav li.current {
  background-color: #0166C1;
  color: #fff;
}

main .textCont {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 3px solid rgba(118, 115, 115, 0.24);
}

main .textCont:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

main .top-nav {
  display: flex;
  align-items: center;
}

main .tabCon {
  margin-top: 20px;
  padding: 0 10px;
}

main .tabCon .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  padding-right: 15px;
  border-right: 2px solid #1B6CAF;
}

main .tabCon .cont-left {
  width: 50.793%;
  cursor: pointer;
}

main .tabCon .cont-left .addrens {
  line-height: 1.875;
}

main .tabCon .cont-left .addrens img {
  margin-right: 6px;
}

main .tabCon .cont-right {
  width: 50.793%;
  cursor: pointer;
}

main .tabCon .cont-right .addrens {
  line-height: 1.875;
}

main .tabCon .cont-right .addrens img {
  margin-right: 6px;
}

main .guidance {
  background-color: #fff;
}

main .guidance .msg {
  margin: 20px auto;
}

main .guidance .msg-left {
  width: 18.154%;
  position: relative;
  margin-bottom: 15px;
}

main .guidance .msg-left .title {
  position: absolute;
  right: 8%;
  top: 10%;
  color: #fff;
}

main .guidance .msg-right {
  width: 80.538%;
}

main .guidance .msg-right li {
  width: 32.541%;
  max-height: 182px;
  height: 100%;
  background-color: #2687e3;
  color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

main .guidance .msg-right li div {
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .guidance .msg-right li div p {
  margin-bottom: 10px;
}

main .guidance .msg-right li div img {
  transition: transform 0.3s ease-in-out;
}

main .guidance .msg-right li div:hover img {
  transform: scale(0.9);
}

main .consult h3 {
  text-align: center;
}

main .consult .cont-left {
  width: 45.923%;
}

main .consult .cont-right {
  width: 45.923%;
}

@media screen and (min-width: 768px) {
  main .guidance .msg-right li div img {
    width: 70px;
    height: 45px;
  }
}

@media screen and (min-width: 992px) {
  main .total-info {
    margin-top: 3.0729vw;
    margin-bottom: 2.969vw;
    padding-bottom: 2.7604vw;
  }
  main .tabNav li {
    padding: 2.760vw 0;
  }
  main .textCont {
    margin-bottom: 1.667vw;
    padding-bottom: 1.1979vw;
  }
  main .tabCon {
    margin-top: 2.6042vw;
    padding: 0 0.989vw;
  }
  main .tabCon .content {
    display: none;
  }
  main .tabCon .consult-content {
    display: none;
  }
  main .guidance .msg {
    margin: 3.854vw auto 3.021vw;
  }
  main .guidance .msg-left .title {
    right: 0.521vw;
    top: 1.823vw;
  }
  main .guidance .msg-right li {
    padding: 1.396vw 1.615vw 1.406vw 2.865vw;
  }
  main .guidance .msg-right li div img {
    width: 100px;
    height: 75px;
  }
}

@media screen and (min-width: 1920px) {
  main .total-info {
    margin-top: 59px;
    margin-bottom: 57px;
    padding-bottom: 53px;
  }
  main .tabNav li {
    padding: 53px 0;
  }
  main .textCont {
    margin-bottom: 32px;
    padding-bottom: 23px;
  }
  main .tabCon {
    padding: 0 19px;
    margin-top: 50px;
  }
  main .guidance .msg {
    margin: 74px auto 58px;
  }
  main .guidance .msg-left .title {
    right: 10px;
    top: 35px;
  }
  main .guidance .msg-right li {
    padding: 46px 31px 27px 55px;
  }
  main .guidance .msg-right li div img {
    width: 134px;
    height: 109px;
  }
}

@media screen and (max-width: 768px) {
  main .textCont {
    flex-direction: column;
  }
  main .tabCon {
    padding: 0;
  }
  main .tabCon .cont-left {
    width: 100%;
    margin-bottom: 20px;
  }
  main .tabCon .cont-left .fs18 {
    font-size: 16px;
  }
  main .tabCon .cont-left .time {
    width: 35% !important;
  }
  main .tabCon .cont-left .time .month {
    font-size: 14px;
  }
  main .tabCon .cont-left .name {
    font-size: 14px;
  }
  main .tabCon .cont-left .addrens img {
    width: 8%;
  }
  main .tabCon .cont-right {
    width: 100%;
    margin-bottom: 0;
  }
  main .tabCon .cont-right .fs18 {
    font-size: 16px;
  }
  main .tabCon .cont-right .time {
    width: 35% !important;
  }
  main .tabCon .cont-right .time .month {
    font-size: 14px;
  }
  main .tabCon .cont-right .name {
    font-size: 14px;
  }
  main .tabCon .cont-right .addrens img {
    width: 8%;
  }
  main .guidance .msg-left {
    width: 100%;
  }
  main .guidance .msg-left img {
    display: none;
  }
  main .guidance .msg-left .title {
    position: relative;
    text-align: center;
    top: 0;
    right: 0;
    color: #000;
    font-size: 36px;
    font-weight: normal;
  }
  main .guidance .msg-right {
    width: 100%;
  }
  main .guidance .msg-right li div {
    justify-content: space-between;
    align-items: center;
  }
  main .guidance .msg-right li div img {
    width: 54px;
    height: 45px;
  }
  main .consult .tabNav {
    display: flex;
    justify-content: space-between;
  }
  main .consult .tabNav li {
    padding: 20px 5px;
  }
}

@media screen and (max-width: 576px) {
  .fs24 {
    font-size: 14px;
  }
  main .guidance .msg {
    flex-direction: column;
    align-items: center;
  }
  main .guidance .msg-right li div {
    justify-content: center;
  }
}
