main .main-content {
  background: rgba(175, 175, 175, 0.22);
}
main .education {
  background-color: #f8fafa;
  padding: 30px 0;
}
main .education .main-education {
  margin-bottom: 30px;
}
main .education .edu-title {
  margin-bottom: 30px;
  text-align: center;
}
main .education .swiper-slide {
  border: 1px solid #EFEFEF;
  text-align: center;
  background: #fff;
}
main .education .swiper-slide p {
  margin: 20px 0 22px;
}
main .education .swiper-pagination {
  width: 99px;
  height: 17px;
  left: 50%;
  bottom: -1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 20;
}
main .education .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #646565;
  border-radius: 50%;
}
main .education .swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 25px;
  height: 11px;
  background: #FFFFFF;
  border-radius: 6px;
}
main .banchprofile {
  width: 100%;
  height: 100%;
  padding: 30px 0 40px;
  background: url("../img/partyBuilding/banchprofile.png") no-repeat center;
  background-size: 100% 100%;
}
main .banchprofile .edu-title {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
main .banchprofile .description {
  line-height: 1.713;
  position: relative;
}
main .banchprofile .description::after {
  content: "";
  width: 100%;
  height: 123%;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/partyBuilding/zhibu-img.png") no-repeat right;
}
main .banchprofile .description .left-desc {
  width: 52.462%;
  padding: 24px;
  background-color: #EFEFEF;
}
main .banchprofile .description .first-p {
  margin-bottom: 23px;
}
main .banchprofile .description p {
  text-indent: 2em;
}

@media screen and (min-width: 992px) {
  main .education {
    padding: 4.01vw 0 3.0729vw;
  }
  main .education .main-education {
    margin-bottom: 3.0729vw;
  }
  main .education .edu-title {
    margin-bottom: 2.2395vw;
  }
  main .banchprofile {
    padding: 3.178vw 0 6.25vw;
  }
  main .banchprofile .edu-title {
    margin-bottom: 3.451vw;
  }
  main .banchprofile .description .left-desc {
    padding: 2.8125vw 5vw 2.8125vw 3.021vw;
  }
  main .banchprofile .description::after {
    width: 80%;
    height: 123%;
    right: 0;
  }
  main .banchprofile .description .first-p {
    margin-bottom: 2.234vw;
  }
}
@media screen and (min-width: 1920px) {
  main .education {
    padding: 77px 0 59px;
  }
  main .education .main-education {
    margin-bottom: 59px;
  }
  main .education .edu-title {
    margin-bottom: 43px;
  }
  main .banchprofile {
    padding: 61px 0 120px;
  }
  main .banchprofile .edu-title {
    margin-bottom: 67px;
  }
  main .banchprofile .description .left-desc {
    padding: 54px 96px 54px 58px;
  }
  main .banchprofile .description .first-p {
    margin-bottom: 43px;
  }
}
@media screen and (max-width: 1440px) {
  main .banchprofile .description .left-desc {
    width: 100%;
  }
  main .banchprofile .description::after {
    content: none;
  }
}
@media screen and (max-width: 768px) {
  main .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .education .swiper-slide p {
    margin: 10px 0;
  }
  main .banchprofile .description {
    line-height: 1.5;
  }
  main .banchprofile .description .left-desc {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  main .education .swiper-slide {
    width: 47% !important;
  }
}