html {
    font-size: 100%;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs18 {
    font-size: 18px;
}


.fs20 {
    font-size: 16px;
}

.fs22 {
    font-size: 18px;
}

.fs24 {
    font-size: 24px;
}


.fs30 {
    font-size: 20px;
}

.fs36 {
    font-size: 36px;
}

.fs48 {
    font-size: 16px;
    font-weight: bold;
}

.blue {
    color: #185CD1;
}

.blue2 {
    color: #1652CC;
}

.blue3 {
    color: #358DD6;
}

.gray1 {
    color: #767373;
}

.fwb {
    font-weight: bold;
}

.vertical-blue-line {
    width: 3px;
    height: 18px;

    background: #358DD6;

}

.flex-sb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.font-color-black {
    color: #000;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.no {
    margin-bottom: 3px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -53px;
    width: 99px;
    height: 17px;
    background: rgba(96, 97, 98, 0.3);

    border-radius: 9px;
}

.banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 12px;
}

// 顶部banner
.news-bulletin-banner {
    position: relative;

    h2 {
        font-weight: bold;
    }

    .bannerImg {
        width: 100%;
        max-width: 100%;
        max-height: 500px;
        height: 100%;
        object-fit: cover;
    }

    .banner-text {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 12.8125vw;
        padding: 1.823vw 2.958vw 1.823vw 3.167vw;
        font-weight: bold;
        background-color: rgba(4, 29, 48, 0.5);
        color: #fff;

        span {
            font-size: 0.9375vw;
            opacity: 0.59;
            line-height: 1.2;
        }

        h2 {
            margin-top: 0;
            font-size: 1.875vw;
            line-height: 1.2;
        }
    }
}

// 通知公告
.announcement {
    background-color: #fff;
    padding-top: 25px;
    position: relative;
    z-index: 0;

    .announ-left {
        width: 45.5385%;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 550px;
            height: 100%;
            height: 396px;
            background: #358DD6;
            position: absolute;
            left: -1.146vw;
            bottom: -1.25vw;
            z-index: -1;
        }

    }

    .announ-right {
        width: 51.769231%;
        position: relative;

        &::before {
            content: "";
            max-width: 551px;
            width: 90%;
            height: 1px;
            right: 0;
            position: absolute;
            background: #238CEF;
        }

        .junxun-title {
            width: 125px;
            text-align: center;
            color: #fff;
            background: url(../img/partyBuilding/juxing-icon.png) no-repeat left;
        }

        .latest-news {
            margin: 19px 0 22px;
            padding: 13px 8px;
            background-color: #EFEFEF;
        }

        .blue2 {
            width: 72px;
            padding: 12px 11px;
            margin-right: 16px;
            line-height: 1;
            text-align: center;
            border: 2px solid rgba(22, 117, 201, 0.49);
            box-sizing: border-box;
        }

        .prev-list {
            padding-left: 17px;

            .prev-list-item {
                margin-bottom: 17px;


                .vertical-blue-line {
                    position: relative;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 18px;
                        position: absolute;
                        background: #358DD6;
                        bottom: 7px;
                    }
                }

                a {
                    flex: 1;
                    margin-left: 7px;
                    padding-bottom: 13px;
                    border-bottom: 1px solid rgba(118, 115, 115, 0.24);

                    span {
                        max-width: 515px;
                        width: 90%;
                    }
                }
            }
        }

        .learn-more {
            padding-left: 18px;
        }
    }
}

// 面包屑
.top-nav {
    padding: 8px 0;

    img {
        display: inline-block;
        margin-right: 10px;
    }

    a {
        color: #98989A;
        font-size: 14px;
        margin-right: 8px;
    }

    span {
        color: #171717;
    }
}

// 支部活动
.branch-activity {
    background-color: #fff;
    padding: 0px 0 20px;

    h3 {
        text-align: center;
        margin-bottom: 24px;
    }

    .branch-list-item {
        width: 23.076923%;
        background-color: #EDECEC;
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 18px;

        p {
            margin: 7px;
        }

        a {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transition: transform 0.3s;
            }

            &:hover {
                img {
                    transform: scale(0.9);
                }
            }
        }
    }
}

@media screen and (max-width:1440px) {
    main {
        .section1 {
            align-items: center;
        }

        .announcement {

            .announ-left {

                &::before {
                    width: 92.905%;
                    height: 100%;
                    left: -3.716%;
                    bottom: -4.0540%;

                }

            }

        }
    }
}

@media screen and (max-width:992px) {
    .flex-column {
        flex-direction: flex-column;
    }

    .fs24 {
        font-size: 18px;
    }

    .no {
        margin-bottom: 0;
    }

    .news-bulletin-banner {
        .banner-text {
            top: 60%;
            transform: translate(0, -50%);
        }
    }

}

@media screen and (max-width: 768px) {
    .news-bulletin-banner {
        .bannerImg {
            height: 250px;
        }
    }

    main {
        .announcement {
            .announ-left {
                width: 100%;

                img {
                    width: 100%;
                }

                &::before {
                    content: "";
                    background-color: #fff;

                }
            }

            .announ-right {
                width: 100%;
                margin-top: 15px;
            }
        }

    }

    .branch-activity {

        .branch-list-item {
            width: 48%;


            p {
                margin: 8px;
            }

            a {


                img {}


            }
        }
    }
}

@media screen and (max-width:564px) {
    .fs30 {
        font-size: 22px;
    }

    .fs18 {
        font-size: 16px;
    }

    .fs36 {
        font-size: 24px;
    }

    html {
        font-size: 14px;
        line-height: 1.2;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -33px;
    }
}

.line4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

// @media screen and (min-width:576px) {

//     main {
//         .announcement {
//             padding-top: 2.854vw;
//         }
//     }
// }

@media screen and (min-width:768px) {


    main {
        .announcement {
            padding-top: 2.292vw;
        }
    }
}

@media screen and (min-width: 992px) {
    .fs24 {
        font-size: 1.25vw;
    }

    .fs48 {
        font-size: 2.5vw;
    }

    .fs20 {
        font-size: 1.042vw;
    }

    .branch-activity {

        padding: 0 0 2.604vw;

        h3 {
            margin-bottom: 2.8125vw;
        }

        .branch-list-item {

            margin-bottom: 1.979vw;

            p {
                margin: 0.729vw;
            }
        }
    }

}

@media screen and (min-width: 1440px) {
    .fs30 {
        font-size: 1.5625vw;
    }

    .fs22 {
        font-size: 1.145833vw;
    }

    .banner-text {
        // top: 7.656vw;

        h2 {
            margin-top: 0.468vw;
            font-size: 36px;
        }
    }

}

@media screen and (min-width: 1920px) {
    .fs48 {
        font-size: 48px;
    }

    .fs30 {
        font-size: 30px;
    }

    .fs20 {
        font-size: 20px;
    }

    .fs22 {
        font-size: 22px;
    }

    .news-bulletin-banner {
        .banner-text {
            top: 300px;
            left: 321px;
            width: 300px;
            padding: 35px 76px 35px 80px;
            // top: 300px;
            // left: 321px;
            // width: 300px;
            // padding: 40px 70px 40px 70px;

            span {
                font-size: 18px;
            }

            h2 {
                margin-top: 9px;
                font-size: 36px;
            }
        }
    }

    main {
        .announcement {
            padding-top: 44px;

            .announ-left {
                &::before {
                    left: -22px;
                    bottom: -24px;
                }
            }
        }
    }

    .branch-activity {
        padding: 0px 0 50px;

        h3 {
            margin-bottom: 54px;
        }

        .branch-list-item {
            margin-bottom: 38px;

            p {
                margin: 8px;
            }
        }
    }
}